@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    max-width: 100%;
}
.navbar {    
    background-color: #D6DD04 ;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar  img{
    width: 60px;
    height: 60px;
    grid-column: 2 / 3;
}

.navbar .menu {
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
}
.navbar .menu li {
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar .menu-bar {
    display: none;
}

.navbar .shoping {
    grid-column: 8 / 8;
}




.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 25vh;
    align-items: center;
    color: white;
    background-color: #181818;
}

.redes  {
    font-size: 40px;
    align-items: baseline;
}

.ubicacion {
    font-size: 20px;
    
}









/* MEDIAQUERYS*/

@media only screen and (max-width: 600px){
    .navbar {
        position: relative;
    }

    .navbar .menu-bar {
        display: block;
        grid-column: 8 / 8;
        cursor: pointer;
    }

    .navbar .shoping {
        display: none;
    }

    .navbar .menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color:  #D6DD04 ;
        margin-top:75vh;
        transform: translateX(170%);
        transition: all 0.7s;
    }
    .navbar .menu-toggle {
        transform: translateX(70%);

    }   



    .footer {
        grid-template-columns: repeat(1, 1fr) ;

    }
    
    .redes  {
        display: none;
    }
    

    


}